.d-flex{
    width: 45%;
    margin-left: 5%;
    margin-bottom: -30px;
}
#dropDownFunction{
    margin-bottom: -30px;
     
}
.navbar-nav.me-auto.mb-2.mb-lg-0
{
    width: 20%;
}
#dropDownFunction{
    width: 100%;

}
#brand{
    width: 20%;
    height: 80px;
    margin-left: 5%;
    font-size: 2.5rem;
}
.function-personal{
    margin-left:20px;

}
#ul-cartshowing{
    width: 10%;
    margin-right:-1%;
    margin-bottom:8px;
}
.middle-area{
    height: 150px;
}
#showcart-amount{
    color: snow;
}
.price-slider-area{
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: -30px;
}
.price-slider-area .value
{
    color: aliceblue;
}
.ul2{
    width: 35%;
}
body{
    width: 100%;
    height: 100%;
    background-image: url("/client/static/images-other/background.jpg");
}

@media screen and (max-width: 700px) {
    .container-fluid{
        display: initial !important;
    }
    .container-fluid .navbar-collapse{
        display: inherit;
    }
    .container-fluid .navbar-collapse{
        align-items: baseline !important;
    }
    .container-fluid .navbar-collapse form{
        width: 100% !important;
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .container-fluid .navbar-toggler{
        float: right;
        margin-top: 10px;
    }
    .container-fluid .navbar-nav{
        margin-bottom: auto !important;
    }
    #dropDownFunction{
        margin-bottom: 0;
    }
    .container-fluid .ul2{
        padding-left: 0;
        padding-bottom: 1em;
    }
    .container-fluid .function-personal{
        margin-left: 0;
    }
}
.type_phone_group{
    margin-bottom: 3%;
}
.type_phone_group .type_phone{
    color: aliceblue;
    text-align: center;
    background-color: black;
    size: 10%;
}
.col-lg-4 .card{
    text-align: center;
}
.col-lg-4 .card-text{
    height: 150px;
}
.col-lg-3 .card-text{
    height: 180px;
}
.row .users_comment{
    color: aliceblue; 
    width: 90%;
    margin: 0px;
    border:solid;
    border-top: black;
    border-radius: 3em;
    text-align: center;
    margin-left: 5%;
}
img{
    border-radius: 3em;
}
.users_comment .card{
    width: 100%; 
    text-align:start;
    border-radius: 3em;
    
    /*card background */
    background-color: rgba(0, 0, 0, 0.15);
}
.phoneDetail-FunctionArea{
    margin-left: 5%;
}
.users_comment .card-title{
    color: rgb(91, 89, 87);
}
.productDetail_photo{
    margin-bottom: 10%;
}
.cart-itemNum{
    width: 15%;
    font-size:x-large;
    text-align: center;
    margin-left: 45%;
    border-radius: 0.5em;
}
.addingFunction-area{
    margin-top: 2%;
    margin-bottom: -2%;
    
}
.phoneDetail-FunctionArea{
    color:snow;   
}
.phoneDetail-FunctionArea h3, h4, h5, h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.phoneDetail-FunctionArea h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.commentingFunction-area{
    margin-top: 0%;
    width: 100%; 
    margin-bottom: 10%; 
}
.ratingAndComment{
    margin-top: 3%;
}
#commentBox{
    width: 80%;
    height: 50%;
    border-radius: 1em;
    border: double;    
}
#comment-btn{
    margin-bottom:5%;
}
.rating-function{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: peachpuff;
}
.checked{
    color: orange;
}
.rating-function input{
    display: none;
}
.rating-function input+label{
    font-size: 30px;
    text-shadow: 1px 1px 0 orange;
    cursor: pointer;
}
.rating-function input:checked +label ~ label{
    color: #070303;
}
.rating-function label:active{
    transform: scale(0.8);
}

.phoneDetail-Stock{
    width: 50%;
    float: right;
    margin-top: -5%;
    margin-right: -12%;
}
