<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/sign.css"/>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/edit_profile.js"></script>
    <!-- Axios cdn-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <form class="modal-content" method="post">
    <div class="container">
        <h2>Edit profile</h2>
        <hr>
         <!-- get name, email from back-end  -->
        <input type="text" contenteditable="true" id="first_name">
        <input type="text" contenteditable="true" id="last_name">
        <input type="text" contenteditable="true" id="email">
         <!-- need to confirm password first  -->
        <button type="button" id="update_profile">Update profile</button>

        <!-- <div class="clearfix">
            <button type="button" onclick="window.location.href ='User.html'">Back to User page</button>
          </div> -->


    </div>
    </form>

</body>
</html>