<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/sign.css"/>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/index.js"></script>
    <!-- Axios cdn-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Edit profile</h2>
         <!-- get name, email from back-end  -->
        <input type="text" placeholder="Enter first name" name="first_name">
        <input type="text" placeholder="Enter last name" name="last_name">
        <input type="text" placeholder="Enter email" name="email">
         <!-- need to confirm password first  -->
        <button type="button" class="update_profile">Update profile</button>
    </div>

</body>
</html>