<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="/client/js/mainFunction_ItemState.js"></script>
    <script type="text/javascript" src="/client/js/checkOutFunction.js"></script>
    <script type="text/javascript" src="/client/js/mainFunction_HomeState.js"></script>
    <script type="text/javascript" src="/client/js/mainFunction_SearchState.js"></script>
    <script type="text/javascript" src="/client/js/mainFunction.js"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link id="style_light" rel="stylesheet" href="/client/css/mainpage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    

</head>
<body>
  <div id="page_content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navBar-sellPhone">
      <div class="container-fluid">
          <a class="navbar-brand" href="#" id="brand">SellPhone</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchBox">
              <button class="btn btn-outline-success" type="button" id="searchButton" onclick="searchFunction_FrontEnd()">Search</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown" id="dropDownFunction">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="categoryList">
                </ul>
              </li>
            </ul>
            <ul class="ul2">
              <li class="function-personal" id="function-personal-button">
              </li>
              <li class="price-slider-area" id="price-slider-area">
                  <span class="value">price range</span> 
                  <input title="price Range" type="range" name="price-slider" id="price-slider" min="10" max="500" step="1" value="100" oninput="getRange_Price()" onchange="rangeAction_Frontend(value)">
                  <span class="value" id="priceRangeGet">100 $</span>                    
              </li>
            </ul>
          </div>
      </div>
  </nav>
  </div>
    <div class="middle-area"></div>
    <div id="showingArea">
      <script>init_NavBar()</script>
      <script> init_MainPage()</script>
    </div>

    
</body>
</html>