<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/sign.css"/>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/manage_listings.js"></script>
    <!-- Axios cdn-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <form class="modal-content2" method="post">
    <div class="container">
        <h2>Manage listings</h2>
        <hr>
        <!-- need to add a script to add a new listing that requires all details (e.g. title, price, etc.) -->
        <button type="submit" class="add_button">add a new listing</button>
    </div>

    <div id="listBox">
        <table width="100%">
           <caption>&nbsp;</caption>
           <thead>
           <tr>
               <th>title</th>
               <th>brand</th>
               <th>image</th>
               <th>stock</th>
               <th>seller</th>
               <th>price</th>
               <th>remove?</th>
     
           </tr>
           </thead>
           

           <!-- body of tables-->
           <tbody id="TableContent">
           <!-- <tr>
               <td>test</td>
               <td>test</td>
               <td>test</td>
               <td>test</td>
               <td>test</td>
           </tr> -->
           </tbody>
       </table>
     </div>   
    </form>

    



</body>
</html>