<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/sign.css"/>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/index.js"></script>
    <!-- Axios cdn-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<form class="modal-content" method="post">
    <div class="container">
        <h2>Reset password</h2>
        <hr>

        <label for="new_password"><b>New password</b></label>
        <input type="text" placeholder="Enter new password" id="new_password" required>

        <label for="new_password2"><b>New password again</b></label>
        <input type="text" placeholder="Enter new password again" id="new_password2" required>
        
        <button type="button" class="update_password">Confirm</button>

    
    </div>
</form>

</body>
</html>