<!DOCTYPE html>
<html>
<!-- for head that shown on the brower -->

<head lang="en">
    <meta charset="utf-8">
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" href="../../client/css/sign.css" />
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/signFunction.js"></script>
    <!-- Axios cdn-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  
    <form class="modal-content" method="post">
        <div class="container">
            <h2>Reset password</h2>
            <hr>

            <label for="reset_new_password"><b>New password</b></label>
            <input type="text" placeholder="Enter new password" id="reset_new_password" required>
            <div id="errorpwd1" style="color: red;"></div>
            <label for="reset_new_password2"><b>New password again</b></label>
            <input type="text" placeholder="Enter new password again" id="reset_new_password2" required>
            <div id="errorpwd2" style="color: red;"></div>
            <button type="button" id="sendResetPassword">Confirm</button>

        </div>
    </form>

</body>

</html>