<!DOCTYPE html>
<html
<!--for head that shown on the brower -->
<head lang="en">
   <meta charset="utf-8">
   <title>Sign up</title>
   <link rel="stylesheet" type="text/css" href="../../public/css/sign.css"/>
   <script src="../js/jquery-3.6.0.min.js"></script>
   <script src="../js/signup.js"></script>
   <!-- Axios cdn-->
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <ul>
      <a href="Signup.html">Sign-up</a> 
      <a href="Signin.html">Login</a>
    </ul>


    <form class="modal-content" method="post">
      <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <label for="first_name"><b>First name</b></label>
          <input type="text" placeholder="Enter first name" id="first_name" required>
          <div id="firstnameInput" style="color: red;"></div>

          <label for="last_name"><b>Last Name</b></label>
          <input type="text" placeholder="Enter last name" id="last_name" required>
          <div id="lastnameInput" style="color: red;"></div>

          <label for="email"><b>Email/Username</b></label>
          <input type="text" placeholder="Enter Email/Username" id="email" required>
          <div id="emailInput" style="color: red;"></div>
    
          <label for="pwd"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" id="pwd" required>
          <div id="pwdInput" style="color: red;"></div>
    
          <label for="cpwd"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" id="cpwd" required>
          <div id="cpwdInput" style="color: red;"></div>
          
    
    
          <div class="clearfix">
            <button type="reset" id="clearButton">Clear</button>
            <button type="button" id="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
</body>
</html>
