<!DOCTYPE html>
<html
<!--for head that shown on the brower -->
<head lang="en">
   <meta charset="utf-8">
   <title>User profile</title>
   <link rel="stylesheet" type="text/css" href="../../public/css/sign.css"/>
   <script src="../js/jquery-3.6.0.min.js"></script>
   <script src="../js/signup.js"></script>
   <!-- Axios cdn-->
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  
    <form class="modal-content" method="post">

    <div class="container">
        <h1>User profile</h1>

  
          <div class="container">
            <button type="button" onclick="window.location.href ='edit_profile.html'">Update profile</button>
            <button type="button" onclick="window.location.href ='change_password.html'">Change password</button>
            <button type="button" onclick="window.location.href ='manage_listings.html'">Manage listings</button>
            <button type="button" onclick="window.location.href ='view_comments.html'">View comments</button>
          </div>


  
        <div class="clearfix">
          <button type="button" onclick="window.location.href ='MainPage.html'">Back to Main page</button>
        </div>
    </div>
    </form>
</body>
</html>
