<!DOCTYPE html>
<html>
<!-- for head that shown on the brower -->

<head lang="en">
  <meta charset="utf-8">
  <title>Sign-in/Sign-up</title>
  <link rel="stylesheet" type="text/css" href="../../client/css/user.css" />
  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/userFunction.js"></script>
  <!-- Axios cdn-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <ul>
    <a id="profileTab">Edit profile&emsp;</a>
    <a id="changePasswordTab">Change password&emsp;</a>
    <a id="manageListingTab">Manage listings&emsp;</a>
    <a id="viewCommentTab">View comments</a>
  </ul>

  <form class="modal-content" method="post" id="profileForm">
    <div class="container">
      <h2>Edit profile</h2>
      <hr>
      <!-- get name, email from back-end  -->
      <label for="first_name"><b>Name</b></label>
      <input type="text" contenteditable="true" id="first_name">
      <label for="last_name"><b>Last Name</b></label>
      <input type="text" contenteditable="true" id="last_name">
      <label for="email"><b>Email</b></label>
      <input type="text" contenteditable="true" id="email">
      <label for="password"><b>password</b></label>
      <input type="password" contenteditable="true" id="password">
      <div id="updateProfile" style="color: red;"></div>
      <!-- need to confirm password first  -->
      <button type="button" id="update_profile">Update profile</button>
      
    </div>
  </form>

  <form class="modal-content" method="post" id="changePasswordForm">
    <div class="container">
      <h2>Change password</h2>
      <hr>
      <label for="cur_pwd"><b>Current password</b></label>
      <input type="password" placeholder="Enter current password" name="current_password" id="cur_pwd" required>
      <label for="new_pwd"><b>New password</b></label>
      <input type="password" placeholder="Enter new password" name="new_password" id="new_pwd" required>
      <div id="updatePassword" style="color: red;"></div>
      <button type="button" class="update_password" id="update_password">Confirm</button>
    </div>
  </form>

  <form class="modal-content" method="post" id="manageListingForm">
    <div class="container">
      <h2>Manage listings</h2>
      <button type="submit" class="add_button" id="addListingTab">add a new listing</button>
    </div>

    <div id="listBox">
      <table width="100%">
        <caption>&nbsp;</caption>
        <thead>
          <tr>
            <th>title</th>
            <th>brand</th>
            <th>image</th>
            <th>stock</th>
            <th>price</th>
            <th>disabled</th>
            <th>Remove</th>
          </tr>
        </thead>


        <!-- body of tables-->
        <tbody id="TableContent">
          <!-- <tr>
                   <td>test</td>
                   <td>test</td>
                   <td>test</td>
                   <td>test</td>
                   <td>test</td>
               </tr> -->
        </tbody>
      </table>
      <div id="tableError" style="color: red;"></div>
    </div>
  </form>

  <form class="modal-content" method="post" id="addListingForm">
    <div class="container">
      <h2>Add listing</h2>
      <hr>
      <label for="addBrand"><b>Brand</b></label>
      <input type="text" placeholder="Enter brand" name="addBrand" id="addBrand" required>
      <label for="addImageUrl"><b>ImageUrl</b></label>
      <input type="text" placeholder="Enter image url" name="addImageUrl" id="addImageUrl" required>
      <label for="addPrice"><b>Price</b></label>
      <input type="text" placeholder="Enter price" name="addPrice" id="addPrice" required>
      <label for="addStock"><b>Stock</b></label>
      <input type="text" placeholder="Enter stock" name="addStock" id="addStock" required>
      <label for="addTitle"><b>Title</b></label>
      <input type="text" placeholder="Enter title" name="addTitle" id="addTitle" required>
      <label for="addDisable"><b>Disabled</b></label>
      <input type="text" placeholder="Enter disabled (false or true)" name="addDisabled" id="addDisabled" required>
      <div id="addListingError" style="color: red;"></div>
      <button type="button" class="add_button" id="addListingSubmit">Confirm</button>
    </div>
  </form>

  <form class="modal-content" method="post" id="viewCommentForm">
    <div class="container">
      <h2>View comments</h2>
      <!-- Get comments from dataset -->
    </div>
  </form>







  <div class="clearfix">
    <button type="button" onclick="window.location.href ='MainPage.html'">Back to Main page</button>
  </div>




</body>




</html>