<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/sign.css"/>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/index.js"></script>
    <!-- Axios cdn-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <form class="modal-content2" method="post">
        <div class="container">
            <h2>View comments</h2>
            <input type="text" placeholder="Enter current password" name="current_password" required>
            <input type="text" placeholder="Enter new password" name="new_password" required>
            <input type="text" placeholder="Enter email" name="email" required>
        </div> 
    </form>

</body>
</html>