<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/index.js"></script>
    <!-- Axios cdn-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <div id="demo">
        <h2>AJAX test</h2>
        <button type="button" onclick="axiosTest()">Change content</button>
    </div>
    <div id="div1">
        This is content.
    </div>

</body>
</html>